@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', Helvetica, sans-serif;
    margin: 0px;
}

p, h1, h2 {
    margin: 0px;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 120%;
    width: 800px;
}

h2 {
    font-weight: 300;
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.primary-button {
    background-color: #6565ff;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 50px;
    border-style: none;
    flex-shrink: 0;
    height: 60px;
}

.chevron-white {
    filter: invert(100%) sepia(94%) saturate(26%) hue-rotate(21deg) brightness(107%) contrast(108%);
}

.thirty-spacer {
    height: 30px;
}

.eighty-spacer {
    height: 80px;
}

.separation-line {
    max-width: 1500px;
    height: 2px;
    border-bottom: 1px solid #c6c6c6;
}

.full-width-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

nav {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}

/*nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1500px;
    padding: 15px 30px;
}*/

.logo {
    font-weight: 900;
    color: #6565ff;
    font-size: 32px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.navlink {
    padding: 0px 20px;
    flex-shrink: 0;
    border-right-style: solid;
    border-width: 1px;
    border-color: #c6c6c6;
}

.navlink.no-border {
    border: transparent;
}

.nav-button-div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-button {
    font-size: 16px;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-color: black;
}

.nav-button.no-border {
    border-style: none;
}

.hero-section {
    margin: 0px 30px;
    width: 1400px;
}

.title-text-div {
    flex: 1;
}

.hero-cta-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.profile-image {
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    object-fit: cover;
    margin-right: -25px;
}

.profile-images-div {
    display: flex;
    align-items: center;
    margin: 0px 25px 0px 30px;
}

.desktop-screenshot {
    width: 100%;
    border-radius: 20px;
}

.logos-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    max-width: 1500px;
    margin: auto;
}

.blue-div {
    background-color: #20204c;
    width: 100%;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-div-content {
    color: white;
    display: flex;
    align-items: center;
    gap: 70px;
}

.mobile-screenshot {
    object-fit: cover;
    flex: 1;
    max-width: 300px;
}

.third-section {
    margin: auto;
    max-width: 1500px;
    padding: 0px 30px;
}

.timeline-div {
    display: flex;
    gap: 50px;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.timeline-number-div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80px;
}

.timeline-card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #c6c6c6;
}

.timeline-card.blue {
    background-color: #20204c;
    color: white;
}

.reviews-section {
    margin: auto;
    max-width: 1500px;
    padding: 0px 30px;
}

.review-div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.quote-div {
    flex: 1;
}

footer {
    margin-top: 1px;
    color: white;
}

.footer-text {
    width: 600px;
}

ul {
    list-style: none;
    color: #c6c6c6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    color: white;
    font-size: 14px;
    color: #c6c6c6;
}




